
.firstPage {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 1200px;
    padding-bottom: 40px;
}

.cut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.downArrow {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0px;
    font-size: 36px;
    line-height: 10px;
    text-align: center;
    color: #444;
}

@media print {
    .firstPage {
        position: relative;
        width: 100%;
        height: 80px;
        max-height: 80px;
        padding-bottom: 0;
    }

    .downArrow,
    .cut {
        display: none;
    }
}
